.claseMadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
}
mat-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    border-radius: 25px;
    overflow: hidden;
}
mat-card-title {
    font-size: xx-large;
}

mat-card-subtitle {
    font-size: large;
}