.divPrincipal {
    height: 100%;
}

.topBar {
    height: 10%;
}

.vista {
    background-color: beige;
}

#viewer {
    color: white;
}

.barraEbook {
    min-height: 32px;
    max-height: 2vh;
    background-color: transparent;
    cursor: pointer;
}

button {
    position: absolute;
    border: none;
    cursor: pointer;
    background-color: beige;
    width: 30vw;
    height: 5vh;
    border-radius: 30px;
    text-align: center;
}

#prev-btn {
    left: 10vw;
    bottom: 5vh;
}

#next-btn {
    right: 10vw;
    bottom: 5vh;
}