.divPrincipal {
    height: 100%;
}

.topBar {
    height: 10%;
}

.vista {
    background-color: beige;
}

#viewer {
    color: white;
}

.barraEbook {
    min-height: 32px;
    max-height: 7vh;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
    background-color: beige;
    width: 30vw;
    height: 5vh;
    border-radius: 30px;
}

#prev-btn {
    text-align: center;
    margin: auto;
}

#next-btn {
    text-align: center;
    margin: auto;
}